body {
    font-family: 'Montserrat'
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% 5%;
}

p {
    color: #8f8f8f;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .iphone-dog {
        position: static;
        transform: rotate(0);
    }
}


/*********** Navbar  ***********/
#title {
    background-color: #ff4c68;
    color: #fff;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    color: white; 
    font-weight: bold;
}
.nav-link {
    color: white;
    margin: auto 20px;
    font-size: 1.2rem;
    font-family: 'montserrat';
}
.navbar {
    padding-bottom: 4.5rem;
}
.download-btn {
    margin: 5% 3% 5% 0;
}

.iphone-dog {
    transform: rotate(20deg);
    width: 20%;
    position: absolute;
    right: 23%;
}

/*********** Features ************/
.feature-row {
    margin: auto;
    width: 80%;
}
#features {
    background-color:#fff;
    padding: 7% 10%;
    text-align: center;
    color: #8f8f8f;
    position: relative;
}
.img-features {
    font-size: 4rem;
    padding-top: 5%;
    margin-bottom: 1rem;
    color: #ef8172;
}
.img-features:hover {
    color: #ff4c68;
}
.feature-discription {
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;  
}

/*********** Testemonial Section ***********/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;    
}

/************ Press **************/
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*********** Pricing *************/
#pricing {
    text-align: center;
    margin: 5%;

}
.pricing-row {
    margin: auto 10%;
    
}
.pricing-col {
    margin: 3% auto;
    
}
.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/*********** Call to Action ************/

#cta {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}
.cta-download-btn {
    margin: 2%;
}
.cta-message {
    margin: auto;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.5;

    font-size: 3.5rem;
}

/********* footer **********/
#footer {
    padding: 7% 15%;
    background-color: #fff;
    text-align: center;
}
.footer-icon {
    margin: 20px 10px;
}
